<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="parkIds" value="70925,70928,70927"/> <!--//70928,70925,72159,70929,70928,70927,70926,-->
      <add key="username" value="jacobashbury@gmail.com"/>
      <add key="password" value ="dingus420"/>
      <add key="start date" value ="7/14/17"/> <!--due to the nature of the web requests, our program finds all listing 14 days starting from this date-->
      <add key="dates" value="7/14/17, 7/15/17"/> <!--make sure these are within 2 weeks from start date above-->
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>